* {
  padding: 0;
  margin: 0; }

body {
  background-color: #8e4423;
  background-image: repeating-linear-gradient(to left top, transparent, transparent 29px, #8a4222 35px, #8a4222 30px);
  text-align: center;
  font-style: Myriad Pro; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.wrapper {
  display: inline-block;
  position: relative;
  width: 960px;
  height: 1000px;
  text-align: center; }

.button_red {
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e4d28, #803c1f);
  box-shadow: 0 1px 1px inset #b57657; }

.button_black {
  background-image: linear-gradient(to bottom, #3b4043, #202324);
  box-shadow: 0 1px 1px inset #7e8183; }

.black_back {
  border: 1px solid #3f3e3d;
  background: linear-gradient(to bottom, #232628, #2b2e2f);
  border-radius: 5px; }

.bordered {
  border: 5px solid #8e4423;
  box-shadow: -1px -1px 1px #242729, 1px 1px 1px #242729; }

.footer {
  background-color: #242729; }
  .footer h1 {
    color: #8e4423;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    display: inline-block; }
  .footer h1 > span {
    font-weight: bold; }

.subscribe {
  display: inline-block;
  padding: 43px 0 15px 0; }
  .subscribe div {
    display: inline-block; }
  .subscribe li {
    display: inline-block; }

.subscribe > div {
  padding: 0px 20px;
  text-align: left; }

.info {
  width: 390px;
  border-right: 1px solid #8e4423;
  float: left;
  position: relative;
  height: 207px; }
  .info img {
    float: right;
    margin-left: 16px;
    margin-top: 9px; }
  .info p {
    font-size: 13px;
    color: #7b7a6d;
    margin-top: 10px; }

.dott {
  position: absolute;
  top: 95px;
  right: -8px;
  color: #8e4423;
  background-color: #242729;
  z-index: 5;
  height: 13px; }

.newsletter ul {
  display: inline-block;
  margin-top: 30px; }
.newsletter li {
  float: left; }

.sign_up {
  width: 280px;
  text-align: left;
  margin-top: 14px; }

.sign_up_text {
  color: #6f6f64;
  font-size: 14px;
  margin: 13px 0 10px 10px;
  background-color: transparent;
  border: none;
  font-style: oblique;
  width: 185px; }

.sign_up_button {
  padding: 11px 15px;
  color: #ffffff;
  font-size: 13px;
  float: right;
  margin: 1px;
  font-style: oblique; }

.twitter {
  margin-right: 5px; }
  .twitter i {
    margin: 6px 14px 4px 14px;
    color: #e6e3bb; }

.twitter_button {
  color: #ffffff;
  font-size: 13px;
  margin: 1px;
  font-style: oblique;
  text-align: left;
  padding: 5px 0 5px 10px;
  width: 58px; }

.chat {
  padding: 17px 19px;
  color: #6f6f64;
  width: 378px;
  font-size: 14px;
  font-style: oblique; }
  .chat a {
    color: #e6e3bb;
    text-decoration: none; }

.about_us {
  padding: 35px 20px 20px 20px;
  background-color: #e6e3bb;
  display: inline-block;
  width: 920px; }
  .about_us div {
    display: inline-block;
    float: left;
    margin-right: 34px; }
  .about_us div:last-child {
    margin-right: 0; }
  .about_us h1 {
    font-style: oblique;
    font-size: 18px;
    color: #8e4423;
    font-weight: lighter; }
  .about_us ul {
    border-top: 1px solid #7b7a6d;
    margin-top: 10px; }
  .about_us a {
    color: #4f504b;
    font-size: 14px; }

.flickr {
  width: 280px; }
  .flickr ul:last-child {
    border-top: none;
    margin-top: 0; }
  .flickr li {
    display: inline-block;
    margin-top: 8px;
    margin-right: 8px; }
  .flickr li:last-child {
    margin-right: 0; }

.clients ul {
  padding: 16px 14px 0 14px; }
.clients li {
  margin-bottom: 15px; }

.friends ul {
  padding: 8px 40px 0 40px; }
.friends li {
  margin-bottom: 19px; }

.pages ul {
  padding: 8px 49px 0 49px; }
.pages li {
  margin-bottom: 19px; }

.down_footer {
  padding: 20px 23px;
  color: #725142;
  font-size: 12px;
  display: inline-block;
  width: 914px; }
  .down_footer div {
    display: inline-block; }

.copyright {
  float: left; }

.faq {
  float: right; }

.header {
  background-color: #242729;
  padding: 20px 28px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 2px #6f351b, -1px 1px 2px #6f351b; }
  .header ul {
    display: inline-block; }
  .header li {
    display: inline-block;
    margin-right: 32px;
    vertical-align: middle; }
    .header li h1 {
      padding-right: 20px;
      font-size: 30px;
      font-style: oblique;
      border-right: 1px solid #7b7a6d; }
    .header li a {
      color: #e6e3bb; }
  .header li > a:hover {
    color: #8e4423; }

.current a {
  color: #8e4423; }

.welcome {
  display: inline-block;
  float: right;
  font-size: 14px; }
  .welcome input {
    color: #e6e3bb;
    padding: 9px 10px;
    font-size: 14px;
    text-shadow: #3d1d0f 0 1px; }

.welcome_back {
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  width: 178px;
  padding: 9px 13px;
  background-image: -webkit-linear-gradient(to bottom, #1b1d1e, #242628);
  border-radius: 7px;
  box-shadow: 0 -1px 1px inset #3f4245;
  color: #7b7a6d; }
  .welcome_back span {
    color: #8e4423; }

.slider {
  position: relative; }

.slider_image {
  position: absolute;
  top: 10px;
  left: 18%;
  z-index: 1; }

.feature_title {
  position: relative;
  display: inline-block;
  z-index: 3;
  margin-top: 283px;
  width: 206px;
  background-color: #242729;
  color: #a55b16;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }
  .feature_title p {
    display: inline-block;
    margin: 10px 31px;
    font-size: 16px;
    font-weight: bolder; }
  .feature_title i {
    color: #a55b16; }

.feature {
  position: relative;
  z-index: 2;
  background-color: #242729;
  padding: 40px 10px 70px 10px;
  text-align: left;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 -1px 1px #545658; }
  .feature ul {
    padding-bottom: 40px;
    border-bottom: 1px solid #393b3d; }
  .feature li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid #a76d53; }
  .feature li:last-child {
    border-top: none; }

.feature_describe {
  width: 480px;
  vertical-align: super; }
  .feature_describe p {
    font-size: 13px;
    color: #7b7a6d;
    margin-top: 15px; }

.feature_name {
  display: inline-block; }
  .feature_name h1 {
    display: inline-block;
    font-size: 18px;
    color: #8e4423;
    margin-left: 10px; }
  .feature_name h2 {
    font-size: 13px;
    color: #646363;
    font-style: italic;
    margin-left: 10px; }

.our_works {
  padding: 0 20px 37px 20px;
  background-color: #e6e3bb; }
  .our_works ul {
    margin-bottom: 70px; }
  .our_works li {
    display: inline-block;
    width: 195px;
    margin-right: 50px;
    margin-left: 50px; }
  .our_works h1 {
    font-size: 18px;
    color: #8e4423;
    font-weight: lighter;
    font-style: oblique;
    margin-top: 20px;
    margin-bottom: 10px; }
  .our_works p {
    font-size: 13px;
    color: #7b7a6d;
    margin-bottom: 15px; }
  .our_works li > input {
    border: 1px solid #242729;
    border-radius: 7px;
    padding: 10px 15px;
    color: #e6e3bb;
    font-size: 13px; }

.line {
  background-color: #8e4423;
  border-top: 1px solid #b56d4b;
  height: 15px; }

.circle {
  position: relative;
  margin-top: -63px;
  margin-left: 44px;
  z-index: 4;
  width: 106px;
  height: 106px;
  background: url(../images/circle.png) no-repeat; }

.img_circle {
  position: absolute;
  opacity: 0.5;
  top: 38px;
  left: 37px; }

.news_nav {
  position: relative;
  z-index: 5; }
  .news_nav input {
    margin-right: -5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }

.active {
  border: 1px solid #626466;
  padding: 11px 22px 7px 22px;
  color: #e6e3bb;
  font-size: 13px;
  border-bottom: none; }

.passive {
  border: 1px solid #3a392f;
  border-bottom: 1px solid #121415;
  padding: 8px 20px 6px 20px;
  color: #5b5b5b;
  font-size: 12px;
  border-bottom: 1px solid #1b1e1f; }

.new {
  position: relative;
  background-color: #242729;
  border-radius: 7px;
  box-shadow: 1px 2px 1px #73725e, -1px -2px 1px #73725e;
  padding: 30px 105px;
  z-index: 4; }
  .new ul {
    display: inline-block;
    margin-bottom: 0; }
  .new li {
    display: inline-block;
    text-align: left;
    width: 184px;
    margin: 0 25px;
    vertical-align: super;
    float: left; }
  .new li h1 {
    display: inline-block;
    margin: 0;
    font-style: normal; }
  .new li h2 {
    display: inline-block;
    color: #646363;
    font-size: 11px;
    margin-top: -5px;
    font-style: oblique; }
  .new p {
    margin-top: 20px; }
  .new li:hover h1 {
    color: #e6e3bb; }
  .new li:hover p {
    color: #e6e3bb; }
  .new li:hover i {
    color: #8e4423; }

.new_name {
  width: 184px;
  vertical-align: super; }
  .new_name div {
    width: 136px;
    display: inline-block;
    line-height: 16px; }
  .new_name i {
    float: left;
    margin-top: 5px;
    vertical-align: super;
    color: #e6e3bb;
    margin-right: 20px;
    margin-left: 3px; }

.arrows {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #b06137, #75371f);
  box-shadow: 0 1px 1px inset #cfa189;
  z-index: 5; }
  .arrows i {
    color: #242729;
    margin-top: 10px; }

.arrow_left {
  top: 73px;
  left: 19px; }
  .arrow_left i {
    margin-left: -4px; }

.arrow_right {
  top: 73px;
  right: 19px; }
  .arrow_right i {
    margin-right: -8px; }

/*# sourceMappingURL=main.css.map */
