$light_yellow: #e6e3bb;
$dark_blue: #242729;
$terracotta: #8e4423;
$grey: #7b7a6d;
$soft_grey: #646363;
$dark_grey: #4f504b;
$yellow_grey: #6f6f64;
$white: #ffffff;
$gradient_black_1: #1b1d1e;
$gradient_black_2: #242628;
$gradient_black_3: #3b4043;
$gradient_black_4: #202324;
$gradient_red_1: #9e4d28;
$gradient_red_2: #803c1f;
$shadow_top: 0 1px 1px inset;
$shadow_bottom: 0 -1px 1px inset;
$big_font: 18px;
$regular_font: 14px;
$small_font: 13px;
$big_border_radius: 10px;
$middle_border_radius: 7px;
$small_border_radius: 5px;
