.header {
  background-color: $dark_blue;
  padding: 20px 28px;
  border-bottom-left-radius: $big_border_radius;
  border-bottom-right-radius: $big_border_radius;
  box-shadow: 1px 1px 2px #6f351b, -1px 1px 2px #6f351b;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    margin-right: 32px;
    vertical-align: middle;

    h1 {
      padding-right: 20px;
      font-size: 30px;
      font-style: oblique;
      border-right: 1px solid $grey;
    }

      a {
        color: $light_yellow;
    }
  }

  li>a:hover {
    color: $terracotta;
  }

}

.current a{
  color: $terracotta;
}

.welcome {
  display: inline-block;
  float: right;
  font-size: $regular_font;

  input {
    color: $light_yellow;
    padding: 9px 10px;
    font-size: $regular_font;
    text-shadow: #3d1d0f 0 1px;
  }
}

.welcome_back {
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  width: 178px;
  padding: 9px 13px;
  background-image: -webkit-linear-gradient(to bottom, $gradient_black_1, $gradient_black_2);
  border-radius: $middle_border_radius;
  box-shadow: $shadow_bottom #3f4245;
  color: $grey;

  span {
    color: $terracotta;
  }
}
